<header id="head">
  <div class="container flex">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="" /></a>
    </div>
    <nav class="flex">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
      <ul class="sec-nav ml-5">
        <li><a href="#"><i class="fas fa-user"></i> | {{name}} </a></li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container flex">
  <section class="side-bar">
    <div class="brand">
      <h2>bitly</h2>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/users/dashboard" class="flex">
            <img src="/img/tachometer-alt.svg" alt="tachometer dashboard" />
            Dashboard
          </a>
        </li>
        <li>
          <a href="/users/fund" class="flex active">
            <img src="/img/chart-bar.svg" alt="tachometer dashboard" />
            Fund Wallet
          </a>
        </li>
        <li>
          <a href="/users/withdraw" class="flex">
            <img src="/img/dna.svg" alt="tachometer dashboard" />
            Withraw fund
          </a>
        </li>
        <li>
          <a href="/users/profile" class="flex">
            <img src="/img/user.svg" alt="tachometer dashboard" />
            Profile
          </a>
        </li>
        <li>
          <a href="/users/settings" class="flex">
            <img src="/img/folder.svg" alt="tachometer dashboard" />
            Settings
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <!-- DASHBOARD -->
  <section class="main">
    <div class="head">FUNDING</div>
    <div class="head second">
      <h3>FUNDING SUCCSSFUL
        <i class="far fa-check-circle"></i>
      </h3>
    </div>
    <div class="stat">
      <p>
        <b>MAKE INSTANT DEPOSIT (~ 15 MINS)</b>
        <br />
        <br />
        Payment via BITCOIN:
        <br />
        <br />
        Have in mind that order will not be activated instantly, it can take up
        to few minutes until the transaction has multiple confirmations.
        <br />
        <br />
        Other payment option are available on request only, contact us if you
        have to pay using Payeer or Perfect money. info@whales-investment.com
      </p>
    </div>
    <div
      class="stat"
      style="border: 1px solid salmon; width: 90%; margin: 15px auto; padding: 15px"
    >
      <div class="payment-details">
        <p class="pay-head">Account</p>
        <p class="pay-body">
          <span class="bold">
            {{firstName}}
            {{lastName}}
          </span>
        </p>
      </div>

      <br />
      <br />
      <br />

      <div class="payment-details">
        <p class="pay-head">Payment Details</p>
        <p class="pay-body">
          To complete your checkout, send the required fund to Bitcoin wallet
          address below:
        </p>
        <p class="pay-body">
          <br />
          Bitcoin:
          <span class="bold">bc1qjdfzgkae4x772etyp6evg6nffcrmlhdf77xk69</span>
          <br />
          <br />
          Dogecoin:
          <span class="bold">DPE3YXZkyRBczYeuZQypFrckkH8sov9v8L</span>
          <br />
          <br />
          BNB:
          <span class="bold">bnb16fjvrdm0kc2503023swefxy4nd4nqffcs7pdjv</span>
          <br />
          <br />
          <br />
          Perfect Money:
          <span class="bold"></span>
          <br />
          <br />
          <br />
          Payeer:
          <span class="bold"></span>
          <br />
        </p>
      </div>
      <br />
      <hr />
      <div class="payment-details">
        <p class="pay-body">Amount in USD:
          <span class="bold">$
            {{#if fund}}
              {{#each fund}}
                {{amount}}
              {{/each}}
            {{/if}}
          </span></p>
        <p class="pay-body">Amount in BTC:
          <span class="bold">
            {{btc}}
          </span>
        </p>
      </div>
    </div>
    <div class="form-input">
      <a href="/users/dashboard" class="btn btn-block">
        Go to Dashboard
      </a>
      <br>
      <hr>
      <a href="/payment/fund-online-flutterwave" class="btn btn-block">
        Click to pay online with flutterwave
      </a>
    </div>
  </section>
</div>